#wrapper {
    background-color: cadetblue;
}

#header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#game {
   background-color: aquamarine; 
}